.header_big-size {
    font-size: large;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_big-size:hover {
    color: #ff6666;
}

.header__text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}